ul#keyboard li {
    display: block;
}

ul#keyboard li.active {
    background-color: lightblue;
}

ul#answer.success {
    background-color: green;
}

ul#answer li.danger {
    background-color: red;
}